* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fcfff3;
    padding: 50px;
    border-radius: 1rem;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    background: #f5f9eb;
    width: 300px;
    margin-right: 10px;
    border-radius: 2rem;
}

button {
    border-radius: 100px;
    background: #454545;
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
}

.todos-list {
    margin-top: 3rem;
}

.todo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f9eb;
    padding: 7px 20px;
    margin: 10px;
    font-family: sans-serif;
    border-radius: 2rem;
}

.close {
    padding: 5px 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .sm {
        width: 94%;
        display: flex;
        flex-direction: row;
    }
}